<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Name:</strong>
    <%= vehicle.name %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= vehicle.vehicle_type %>
  </p>

  <p>
    <strong>Seating capacity:</strong>
    <%= vehicle.seating_capacity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= vehicle.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= vehicle.image %>
  </p>

</div>
